@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://lumiere-a.akamaihd.net/v1/images/background-stars-mobile_70c52e78.jpeg?region=0%2C0%2C640%2C1000);
  background-size: 768px auto;
}

@media screen and (min-width: 768px) {
  .body {
    background-image: url(https://lumiere-a.akamaihd.net/v1/images/background-stars-desktop_81342104.jpeg?region=0%2C0%2C2048%2C1153);
    background-size: 1600px auto;
  }
}